.container{
  width: 1080px;
  margin: 0 auto;
  background: #e3f8f6;
  height:100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.main{
  width: calc(100% / 12 * 8);
  height: 100vh;
  overflow: hidden;
}
.head{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.vh100{
  height: 100vh;
}
button{
  height: 70px;
  width: 200px;
  background-color: #ff6762;
  font-size: 2rem;
  border: none;
  margin: 20px;
  position: relative;
  z-index: 100;
}
.faceChuck{
  background-image: url('../assets/img/face.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.reverse{
  transform:scaleX(-1);
}
.chuck img{
  width: 600px;
}
.active-chuck img{
  transition: all 1s;
  margin-top:-600px;
}
.history{
  width: calc(100% / 12 * 4);
  height: 100vh;
}
@media all and (max-width: 900px){
  .chuck img{
    width: 300px;
  }
}
