<!--https://api.icndb.com/jokes/random - сайт шуток про Чака Норриса на английском.-->
<!--Сделайте кнопку, при нажатии на которую будет стягиваться JSON файл. -->
<!--Вытащите из него шутку и выводите на экран. -->
<!--Каждый раз пусть будет другой шрифт и размер текста(можно рандомно сделать)-->
  <div class="container">
    <div class="main">
      <div class="vh100">
        <div class="head">
          <div class="faceChuck"></div>
          <button (click)="newJoke()">Get joke</button>
          <div class="faceChuck reverse"></div>
        </div>
        <new-joke [joke]="joke"></new-joke>
      </div>
      <div class="chuck" [class.active-chuck]="activeChuck">
        <img src="../assets/img/chuck.png" alt="">
      </div>
    </div>
    <div class="history">
      <window-history [toHistory]="joke"></window-history>
    </div>
  </div>


